head{
    
}

body{
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    background-color: black;
    text-align: center;
    font-size: 100 px;
}
h2{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-align: center;
color: black;    
}

.destacados{
    font-weight: bold;
}

#texto{
    width: 300px;
    height: 400px;
    background-color: #dbc2db;
    font-weight: bold;
    text-align: center;
    border: 5px solid slateblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: left;
}
#texto:hover{
    background-color: black;
}
#texto p{
    color: white;
}

